/* CSS STYLE NoDB PROJECT 7/10/19 */

html {
  min-height: 100vh;
}

body {
  font-size: 17px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto";
  background-color: #f1f1f1;
  margin: 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #424242;
  background-color: #fff;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.12);
  height: 8vh;
}

main {
  padding: 30px 0px;
  width: 80vw;
}

.col-xl-3, .col-sm-6, .mb-3 {
  padding: 0 10px;
}

.row {
  margin: 0px;
}

.fas {
  font-size: 18px;
  margin-right: 5px;
}

.dropdown-divider {
  margin: 0;
}

.dropdown-menu {
  margin-top: -0.5rem;
  transform: translate3d(-397px, 68px, 0px);
  padding: 0;
}

.dropdown-menu, .custom-menu {
  margin-top: -0.5rem;
  transform: translate3d(-397px, 68px, 0px);
  padding: 0;
}

.btn-group1 {
  display: flex;
  justify-content: start;
}

.dropdown-item {
  cursor: pointer;
  width: 170px;
  padding: .7rem 1.8rem;
}

/* .custom-item.dropdown-item:active {
  color: #c5af31;
} */

.icon-bubble {
  color: #747474;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 38px;
  min-height: 38px;
  padding: 10px;
  border-radius: 30px;
  background-color: #f5f5f5;
  box-shadow: inset 0 0 4px #bebebe;
}

.text-group {
  margin-left: 10px;
  color: rgb(94, 94, 94);
}

.item-title {
  color: #707e92;
  font-weight: 600;
}

.dropdown-text {
  width: 290px;
  overflow:hidden;
  word-wrap:break-word;
}

.custom-item.dropdown-item {
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 364px;
  height: 70px;
  padding: .4rem 1rem;
}

.custom-item2 {
  font-size: 12px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 364px;
}


.dropdown-toggle {
  display: flex;
  justify-content: start;
  align-items: center;
}

.dropdown-toggle::after {
  display:none;
}

.logo {
  padding: 23px 24px 27px;
  font-weight: 400;
  font-size: 1.8em;
  line-height: 12px;
}

.a-btn-group {
  display: flex;
  width: 142px;
  justify-content: space-between;
  align-items: center;
}

.header-btn {
  display: flex;
  justify-content: center;
  font-size: 21px;
  padding: 10px;
  width: 40px;
  background-color: #fff;
  border-radius: 37px;
  text-align: right;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.profile, .a-btn-group {
  height: 55px;
  margin-right: 16px;
  border-radius: 30px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.profile-group {
  cursor: pointer;
  width: 125px; 
  padding-right: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile-name {
  font-weight: 300;
}

nav {
  background-color: #2b333e;
  min-width: 265px;
  height: 92vh;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25);
}

.nav-group {
  display: flex;
  flex-direction: column;
  padding: 0;
  text-decoration: none;
}

.nav-group > a:hover {
  color: #d4d4d4;
}

.nav-link {
  font-size: 18px;
  width: 100%;
  cursor: pointer;
  padding: 18px 24px;
  margin-bottom: 0px;
  color: #bebebe;
  border-bottom: 1px solid #232831;
}

.nav-link:hover {
  text-decoration: none;
  background-color: #303642;
  background-origin: content-box;
}

.selected, .selected:hover {
  color: #d4d4d4;
  background-color: #272c36;
}

.main-page {
  display: flex;
  flex-direction: row;
}

.all-card-tags {
  display: flex;
  justify-content: center;
  width: 100vw;
}

.all-cards {
  display: flex;
  flex-direction: column;
  width: 900px;
  padding: 40px;
  padding-bottom: 0;
}

.card {
  min-width: 230px;
}

.o-hidden {
  overflow: hidden;
}

.lrg {
  font-size: 30px;
}

.card-body-icon {
  position: absolute;
  z-index: 0;
  top: -1.5rem;
  right: -1rem;
  opacity: 0.4;
  font-size: 5rem;
  -webkit-transform: rotate(15deg);
  transform: rotate(15deg);
}

.card-group {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  overflow-x: hidden;
  height: 54.8vh;
}

.client-card, .client-add-card, .message-card {
  position: relative;
  display: flex;
  background-color: #fff;
  min-height: 190px;
  width: 800px;
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 38px 34px ;
  margin-bottom: 26px;
  box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
}

.client-add-card {
  margin-bottom: 40px;
}

.value-key {
  font-weight: 600;
}

.input-duo {
  margin-bottom: 22px;
}

.input-section {
  padding: 3px;
  margin-left: 4px; 
  width: 220px;
}

.client-add-form-group1, .client-add-form-group2 {
  display: flex;
  flex-direction: column;
  text-align: right;
  max-height: 150px;
}

.client-add-form-group1 {
  margin-left: 14px;
}

.client-add-form-group2 {
  margin-left: 50px;
}

.label-total {
  display: flex;
  justify-content: space-between;
}

.label {
  margin: 0 0 8px 1px;
}

.total {
  margin: 0 24px 8px 0;
}

.client-card-group {
  display: flex;
  flex-direction: column;
}

.client-display-group1, .client-display-group2 {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  height: 110px;
}

.client-display-group1 {
  margin-left: 20px;
  width: 320px;
}

.client-display-group2 {
  margin-top: 10px;
}

.client-name, .client-form-item {
  margin-bottom: 42px;
}

.client-name {
  margin-bottom: 38px;
  font-size: 26px;
  font-weight: 500;
}

.add-btn, .delete-btn, .edit-btn {
  font-size: 16.5px;
  position: absolute;
  padding: 3px 30px;
  bottom: 22px;
  right: 22px;
}

.edit-btn {
  right: 155px;
}

.message-card-group {
  overflow: scroll;
  overflow-x: hidden;
  height: 82.1vh;
  width: 820px;
}

.info-card-group {
  margin-top: 40px;
}

.message-card {
  padding: 34px;
}

.message-info-display {
  min-width: 280px;
}

.message-display {
  font-size: 16px;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: auto;
  min-height: 128px;
  min-width: 452px;
  resize: vertical;
}

::-webkit-scrollbar {
  display: block;
  width: .7rem;
}
        
::-webkit-scrollbar-track {
  background: rgba(136, 136, 136, 0.0);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.2);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(136, 136, 136, 0.6);
}
.message-delete-btn {
  font-size: 16.5px;
  position: absolute;
  padding: 6px 28px;
  bottom: 26px;
  left: 36px;
}

.message-name {
  margin-bottom: 10px;
}

.contact-form {
  margin: 60px;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  min-height: 540px;
  width: 580px;
  border-radius: 5px;
  box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.15);
}

.contact-title {
  font-size: 33px;
  color: #494949;
  margin-top: 30px;
  text-align: center;
}

.form-group {
  margin: 30px 40px;
}

.c-input {
  font-size: 17px;
  margin-bottom: 24px;
  padding: 7px;
  width: 235px;
}

.c-input::placeholder {
  color: #4242426b
}

.name-input-group {
  display: flex;
  justify-content: space-between;
}

.full-width-input {
  width: 500px;
}

.message-input {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  width: 500px;
  min-height: 225px;
  max-height: 420px;
  resize: vertical;
  margin-bottom: 20px;
}

.message-wrapper {
  display: flex;
  justify-content: center;
}

.c-submit {
  font-size: 17px;
  width: 40%;
  padding: 6px;
}

/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */